{{! Se renderiza en ./api/views/realTimeProducts }}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketio.js"></script>

<div>
  <h1>Ingreso de Stock</h1>
  <div>
    <ul>
      <li>Nombre: <input id="nombre" type="text" /> </li>
      <li>Descripcion: <input id="description" type="text" /> </li>
      <li>Precio: <input id="precio" type="text" /> </li>
      <li>Stock disponible: <input id="stockDisp" type="text" /> </li>
      <li></li>
    </ul>
    <button onclick="subirInfo()">Enviar!</button>
  </div>

</div>